# Python version: 3.8.12
apex==0.1
ax-platform==0.2.0
bitarray==2.6.2
Cython==0.29.28
editdistance==0.5.2
fairscale==0.4.5
faiss==1.7.3    # conda install -c pytorch faiss-gpu
g2p_en==2.1.0
h5py==3.6.0
hydra-ax-sweeper==1.1.0
joblib==1.1.0
kaldiio==2.17.2
nltk==3.7
npy_append_array==0.9.13
numpy==1.23.5
omegaconf==2.0.6
pandas==1.4.1
psutil==5.9.0
pyarrow==12.0.1
protobuf==3.20.0
regex==2022.1.18
requests==2.27.1
sacrebleu==1.4.12
scipy==1.8.0
sentencepiece==0.1.96
setuptools==59.5.0
six==1.16.0
SoundFile==0.10.3.post1
tabulate==0.8.9
torch==1.10.2
torchaudio==0.10.2
tqdm==4.62.3
wandb==0.12.10
